<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al-Quran | Tafsir & Terjemahan</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <!-- As a heading -->
    <nav class="navbar bg-primary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand mb-0 h1" href="/">Al-Quran | Tafsir & Terjemahan</a>
        </div>
    </nav>
    <div id="app">
        <div class="container my-5">
            <div class="row mb-5">
                <div class="col-md-4">
                    <label for="inputSurah"><b>Surat:</b></label>
                    <select class="form-select form-select-lg mb-3" @change="handleChange">
                        <option v-bind:selected="quranSurah.id == surah"
                            :value="`detail.html?surah=${quranSurah.id}&ayah=1-10`" v-for="quranSurah in surahs"
                            :key="quranSurah.id">
                            {{ quranSurah.id }}. {{ quranSurah.latin }}
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputFromAyah"><b>Dari Ayat:</b></label>
                    <select class="form-select form-select-lg mb-3" @change="handleChange">
                        <option v-bind:selected="i == fromAyah"
                            :value="`detail.html?surah=${surah}&ayah=${i}-${toAyah}`"
                            v-for="i in surahDetailed.num_ayah">
                            {{ i }}
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputToAyah"><b>Sampai Ayat:</b></label>
                    <select class="form-select form-select-lg mb-3" @change="handleChange">
                        <option v-bind:selected="i == toAyah"
                            :value="`detail.html?surah=${surah}&ayah=${fromAyah}-${i}`"
                            v-for="i in surahDetailed.num_ayah">{{ i }}</option>
                    </select>
                </div>
            </div>
            <div class="mb-5" v-for="ayah in ayahs" :value="ayah.id">
                <div class="row">
                    <div class="col-sm-1 text-warning-emphasis">
                        <p class="fs-2">{{ ayah.ayah }}</p>
                    </div>
                    <div class="col-sm-11">
                        <p class="fs-2 text-end arab">{{ ayah.arabic }}</p>
                    </div>
                </div>
                <p class="fs-5 text-warning-emphasis">{{ ayah.latin }}</p>
                <p class="fs-5">{{ ayah.translation }}</p>
                <div v-if="ayah.footnotes !== null">
                    <p class="fs-6"><b>Catatan kaki:</b></p>
                    <p class="fs-6">{{ ayah.footnotes }}</p>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    :data-bs-target="`#modalAyah${ayah.ayah}`" :value="ayah.id" @click="fetchTafsir">
                    Tafsir
                </button>

                <!-- Modal -->
                <div class="modal fade" :id="`modalAyah${ayah.ayah}`" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Tafsir {{ ayah.surah.transliteration }} Ayat {{ ayah.ayah
                                    }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="fs-4 text-end arab">{{ ayah.arabic }}</p>
                                <p class="fs-3"><b>Tafsir:</b></p>

                                <div class="accordion" id="accordionExample" v-for="key in Object.keys(tafsir)">
                                    <div class="accordion-item mb-3">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" :data-bs-target="`#collapseWajiz${key}`"
                                                aria-expanded="true" :aria-controls="`collapseWajiz${key}`">
                                                {{ key }}
                                            </button>
                                        </h2>
                                        <div :id="`collapseWajiz${key}`" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">{{ tafsir[key] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>

    <script src="scripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>