@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i);

/* General Styles */
a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #00cec9;
  background-image: linear-gradient(
      45deg,
      #00cec9 25%,
      #01c8c3 25%,
      #01c8c3 75%,
      #00cec9 75%,
      #00cec9
    ),
    linear-gradient(
      -45deg,
      #00cec9 25%,
      #01c8c3 25%,
      #01c8c3 75%,
      #00cec9 75%,
      #00cec9
    );
  background-size: 1px 150px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: normal;
  height: 100vh;
}

/* 🔥 MODAL POPUP */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.popup-container {
  line-height: 1.55;
  display: block;
  background: #fff;
  position: fixed;
  top: 25%;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 2.5rem -1.5rem rgba(0, 0, 0, 0.5);
  max-width: 600px;
  z-index: 99;
  min-height: 400px;
  padding: 20px;
  border-radius: 10px;
  animation: slideDown 2s;
}

.popup-content {
  position: absolute;
  color: #222;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 10px;
  left: 0;
  right: 0;
  top: 17%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.popup-title {
  font-size: 2.2rem;
  font-style: normal;
  margin: 10px auto;
  font-family: Georgia, serif;
}

.popup-subtitle {
  font-size: 1.5rem;
  font-style: italic;
  margin: 10px auto;
  font-family: Georgia, serif;
}

/* Close Button */
.popup-close {
  background: #428bca;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  padding: 4px 14px;
  min-width: 60px;
  border: 1px solid #3885c7;
  transition: all 0.3s;
}

.popup-close:hover {
  background: #fff;
  color: #3885c7;
  border-color: #3885c7;
}

.popup-close:active {
  opacity: 0.9;
}

/* Decorative Ketupat */
.ketupat {
  position: absolute;
  left: 0;
  right: 0;
  top: -12px;
  margin: auto;
  width: 10px;
  height: 10px;
  background: #b9e937;
  box-shadow: 10px 0 0 #57d131, 10px 10px 0 #b9e937, 0px 10px 0 #57d131,
    5px 5px 0 10px #fff;
  display: inline-block;
  text-align: center;
  transform: rotate(45deg);
  z-index: 2;
}

.ketupat-bottom {
  top: initial;
  bottom: 3px;
}

@media screen and (max-width: 768px) {
  .popup-subtitle {
    font-size: 1rem;
  }
  .popup-title {
    font-size: 1.5rem;
  }
  .popup-container {
    min-height: 260px;
    left: 20px;
    right: 20px;
  }
}

/* Responsive Design */
@media screen and (max-width: 415px) {
  .popup-subtitle {
    font-size: 1.1rem;
  }

  .popup-title {
    font-size: 1.2rem;
  }

  .popup-container {
    min-height: 330px;
    left: 20px;
    right: 20px;
  }
}
